.body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.div-pai{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr)) ;
}
.div-filha {
    /* background-color: antiquewhite; */
    margin: 5px;
    border: 1px solid black;
    padding: 5px;

} 
.div-imagem {
    border: 1px solid rgb(106, 106, 161);
}
.div-imagem img{
    width: 100%;
    height: 300px;
}
.div-descricacao-filme{
    border: 1px solid rgb(155, 117, 190);
    padding: 10px;
}
